body{margin:0;padding:0;background:#ffe;font-size:12px;overflow:auto}
#mainDiv{
	margin-top: -30px;
	width:100%;
	height:100%;
	/* background-color: hsla(0,0%,100%,.4); */
}
#loveHeart{float:left;width:670px;height:625px

}
#garden{width:100%;height:100%}
#elapseClock{text-align:right;font-size:18px;margin-top:10px;margin-bottom:10px}
#words{font-family:"sans-serif";width:500px;font-size:24px;color:#666}
#messages{display:none}
#elapseClock .digit{font-family:"digit";font-size:36px}
#loveu{padding:5px;font-size:22px;margin-top:80px;margin-right:120px;text-align:right;display:none}
#loveu .signature{margin-top:10px;font-size:20px;font-style:italic}
#clickSound{display:none}
#code{float:left;width:440px;height:400px;color:#333;font-family:"Consolas","Monaco","Bitstream Vera Sans Mono","Courier New","sans-serif";font-size:12px}
#code .string{color:#2a36ff}
#code .keyword{color:#7f0055;font-weight:bold}
#code .placeholder{margin-left:15px}#code .space{margin-left:7px}
#code .comments{color:#3f7f5f}
#copyright{margin-top:10px;text-align:center;width:100%;color:#666}
#errorMsg{width:100%;text-align:center;font-size:24px;position:absolute;top:100px;left:0}
#copyright a{color:#666}

#t-imgs {
	z-index: -999;
}
#t-imgs img {
	height: 9rem;
	opacity: 0.7;
}

#tooltip{
	position:absolute;
	border:1px solid #fff;
	background: #fff;
	padding: 2px;
	color: #fff;
}
#tooltip img{
	max-width: 60vw;
	max-height: 70vh;
}


/* 左右拖拽切换 */
.slider{
	position: fixed;
	top: 0;
	-webkit-animation:animation ease 1s;
	animation-delay:.8s;
	animation-fill-mode:backwards;
	height: 400px;
	width: 300px;
	padding-top: 0;
	padding: 10px;
	perspective: 1800px;
	transition:ease-in-out .2s;
	/*-webkit-transform:rotateX(45deg);
	-webkit-transform-style:preserve-3d;
	position:absolute;*/
}
/*.slider:active{ -webkit-transform:rotateZ(10deg);}*/
.slide img { 
	text-align:center;
	width:100%;
	-webkit-user-drag:none;
	user-drag:none;
	-moz-user-drag:none;
	border-radius:2px;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	cursor: pointer;
}
.slide{
	-webkit-user-select:none;
	user-select:none;
	-moz-user-select:none;
	position:absolute;
	height: 400px;
	width: 300px;
	box-shadow: -14px 3px 30px 0px #2f2c2b21;
	background:#fcfcfc;
	-webkit-transform-style:preserve-3d;
	transform-style:preserve-3d;
	-moz-transform-style:preserve-3d;
	text-align:center;
	/*overflow:hidden;*/
	border:10px white solid;
	box-sizing:border-box;
	/* border-bottom:55px white solid; */
	border-radius:5px;
	overflow: hidden;
}
.transition {
	-webkit-transition: cubic-bezier(0,1.95,.49,.73) .4s ;
	-moz-transition: cubic-bezier(0,1.95,.49,.73) .4s ;
	transition: cubic-bezier(0,1.95,.49,.73) .4s ;
}